{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">

  <svg class="logosite" width="135px" height="130px" viewBox="0 0 505 352" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" overflow="visible">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="arielbelgium" transform="translate(-151.000000, -104.000000)">
              <g id="Group" transform="translate(151.000000, 104.000000)">
                  <g id="Group-9" transform="translate(145.000000, 0.276000)" fill="#F62E02">
                      <path d="M39.9571,220.7913 C39.0161,219.8873 38.2321,219.1713 37.4931,218.4163 C27.8431,208.5623 19.8431,197.2163 13.8021,184.8173 C4.3101,165.3083 -0.1459,143.7333 0.8421,122.0603 C1.4561,107.9083 4.3761,93.9513 9.4891,80.7403 C13.7231,69.7403 19.4631,59.3803 26.5461,49.9593 C36.9021,36.1893 49.5151,24.9443 64.4551,16.3603 C77.4361,8.8653 91.7071,3.8713 106.5291,1.6353 C112.4061,0.7453 118.3101,0.2153 124.2601,0.3013 C124.7461,0.3013 125.2321,0.3323 125.7181,0.3673 C125.8051,0.3673 125.8801,0.4743 126.1091,0.6233 L39.9571,220.7913 Z" id="Fill-1"></path>
                      <path d="M126.6773,0.4402 C128.6763,0.4402 130.4033,0.3432 132.1133,0.4562 C139.5533,0.9522 146.9093,2.0082 154.1533,3.8262 C173.6323,8.7122 190.8583,17.8772 205.9023,31.1412 C217.5663,41.4222 226.9613,53.4982 234.2213,67.2472 C240.8013,79.7262 245.2823,93.2042 247.4883,107.1382 C248.3513,112.5172 248.8013,117.9402 249.0103,123.3942 C249.3633,132.9412 248.6513,142.4992 246.8903,151.8902 C244.5003,164.8592 240.1153,177.3792 233.8893,189.0042 C229.8913,196.5422 225.1353,203.6532 219.6963,210.2272 C217.4283,212.9622 214.9543,215.5392 212.5683,218.1832 C212.4353,218.3302 212.2433,218.4262 211.8973,218.6822 L126.6773,0.4402 Z" id="Fill-3"></path>
                      <path d="M150.7818,197.512 C154.3198,214.863 157.8658,232.226 161.4478,249.777 C151.9458,252.875 142.0768,254.712 132.0958,255.24 C117.0588,256.069 102.3168,254.357 87.7688,249.591 C91.4238,232.008 95.0498,214.558 98.6768,197.102 L98.9748,197.053 C99.1368,197.594 99.2988,198.134 99.4508,198.673 C101.9348,207.716 107.4348,214.126 116.2578,217.41 C126.8858,221.366 139.0738,217.423 145.7418,208.115 C148.0388,204.921 149.6098,201.416 150.7818,197.512" id="Fill-5"></path>
                      <path d="M125.065,71.4895 L146.172,174.9275 C140.512,168.1685 133.556,164.1385 124.574,164.2345 C115.593,164.3305 108.71,168.4465 103.18,175.4425 C110.381,140.7825 117.58,106.1255 124.777,71.4705 L125.065,71.4895 Z" id="Fill-7"></path>
                  </g>
                  <text id="ARIEL-BELGIUM" font-family="LucidaGrande, Lucida Grande" font-size="70.7102" font-weight="normal" letter-spacing="0.707102" fill="#FB4600">
                      <tspan x="0.5879" y="349.969867">A</tspan>
                      <tspan x="50.0808968" y="349.969867">RIEL BELGIUM</tspan>
                  </text>
              </g>
          </g>
      </g>
  </svg>
  </a>
  {% if site_name %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  {% endif %}
  {{ site_slogan }}
{% endblock %}
