// Non-modular or client styles for .l-footer region.
footer#footer {
  @include flex-grid-row();
  flex-direction: column-reverse;
  align-items: center;
  padding: 30px 0;
  @include breakpoint(mediumplus) {
    flex-direction: row;
  }

  .region {
    @include grid-col-gutter();
    width: 100%;
    margin-bottom: 30px;
    @include breakpoint(mediumplus){
      width: auto;
      margin-bottom: 0;
      @include flex-grid-column(1 of 3);
    }
  }

  .paragraph--type--branch {
    color: white;
    @include breakpoint(smallplus){
      flex-direction: row;
      align-items: unset;
    }
    @include breakpoint(mediumplus) {
      justify-content: space-between;
       flex-direction: column;
    }
        @include breakpoint(large) {
          justify-content: space-between;
          flex-direction: row;

        }
    .base-contact-fields {
      @include breakpoint(smallplus){
        padding-right: 15px;
        text-align: right;
      }
      @include breakpoint(mediumplus) {
        padding-right: 0px;
        text-align: center;
      }
       @include breakpoint(large) {
         text-align: left
       }
    }
    .field-name-field-extra-contact-fields {
      p{
        a{
          color: white;
          transition: 0.3s ease;
        }
        a:hover{
          color: $primary-color;
      }
      }
      @include breakpoint(smallplus) {
        padding-left: 15px;
        text-align: left;
      }
      @include breakpoint(mediumplus) {
        text-align: right;
        padding-left: 0;
        text-align: center;
      }
             @include breakpoint(large) {
               text-align: right;
             }
    }
    .base-contact-fields, .field-name-field-extra-contact-fields {
      @include breakpoint(smallplus) {
        flex: 1 0 50%;
      }
      @include breakpoint(mediumplus){
        flex: unset;
      }
    }
  }

  .block-social {
    margin-bottom: 15px;

    .linkicon {
      justify-content: center;
      li:first-of-type{
        margin-left: 0px!important;
      }
      li{ 
  justify-content: center;
  background-color: $primary-color;
  border-radius: 50px;
  width: 25px;
  margin-left: 5px;
  margin-right: 5Px;
  transition: 0.3s ease;
  a{
  color: black;
  margin: 0 auto;
  display: block;
  width: 13px;
    transition: 0.3s ease;
  }
      }
      li:hover{
        background-color: black;
        a{
          color: $primary-color;
        }
      }
      @include breakpoint(mediumplus){
        justify-content: flex-start;
      }
    }
  }
}
#footer-wrapper{
  background-color: black;
}


.block-base-footer {
  ul.menu {
    justify-content: center;
    @include breakpoint(mediumplus){
      justify-content: space-between;
      width: 75%;

      flex-direction: column;
    }
    @include breakpoint(xlarge){
      flex-direction: row;
    }
    &>li {
      a {
        font-size: 14px;
        color: #8A8A8A;
        text-transform: lowercase;
        @include breakpoint(mediumplus){
          padding-left: 0;
        }
        @include breakpoint(xlarge){
          padding-left: 1rem;
        }
        @include breakpoint(xlarge){
          &:first-of-type{
            padding-left: 0;
          }
        }
      }
    }
  }
}

.region-footer_middle {
  text-align: center;
}

