// Non-modular or client styles for .l-header region.
#header-wrapper {
  header#header {
    max-width: $global-width;
    margin: 0 auto;
  }
}

.region-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  @include breakpoint(large){
    padding: 40px 0;
  }
    @include breakpoint(xlarge) {
      padding: 50px 0;
    }
        @include breakpoint(xxlarge) {
          padding: 60px 0;
        }
}

.block-system-branding-block,
.block-base-main-menu,
.block-nav-toggle {
  @include grid-col-gutter();
}


.block-base-main-menu {
  @include show-for($mobile-nav-breakpoint);
}
.block-nav-toggle {
  @include hide-for($mobile-nav-breakpoint);
  position: relative;
  z-index: 13;
}


.off-canvas-wrapper {
  ul.dropdown {
    &>li {
      transition: 0.3s ease;
      &>a {
        color: $primary-color;
        font-weight:$font-weight-extrabold;
        text-transform: uppercase;
        transition: 0.3s ease;
        padding: 0.5rem 1rem;
        &>span {
          position: relative;
          &:after {
            content: '';
            display: none;
            background-color: $body-font-color;
            height: 2px; width: 100%;
            position: absolute;
            bottom: -3px; left: 0;
          }
        }
        
        &.is-active {
          background-color: $primary-color;
          color: white;
        }


      }
      a:hover{
        background-color: $primary-color;
        color: white;
      }
    }

  }
}


span.burger-icon{
  background-color: black;
}
span.burger-icon::before{
 background-color: black;
}
span.burger-icon::after{
 background-color: black;
}