.region-right_off_canvas {
  #block-sitebranding-2{
    a{
        display: block;
        margin: 0 auto;
        width: 135Px;
        }
  }
  padding-top: 71.2px;
  .is-drilldown{
    margin-top: 25px;
    .drilldown{
      li{
        a{
          text-align: center;
          font-size: 20Px;
        }
      }
    }
  }
}

// When logged in and toolbar is visible
.toolbar-horizontal {
  .region-right_off_canvas {
    padding-top: (calc(71.2px + 39px)); // header height + toolbar height
  }
  &.toolbar-tray-open {
    .region-right_off_canvas {
      padding-top: (calc(71.2px + 76px)); // header height + toolbar and tray height
    }
  }
}