// Common abstract classes to extend or parametrics are stored here.

// Example parametrics.
// ------------------------------------------------------
// %font-FONTNAME   {}
// %font-sans-serif { font-family: sans-serif; }
// %font-serif      { font-family: serif; }

.linkicon {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  .linkicon__text {
    display: none;
  }
}


// FORM

.js-form-item {
  margin-bottom: 28px;
  input {
    margin-bottom: 0;
    height: 43px;
  }
  textarea{
    height: 145px;
  }
  .description {
    font-size: 12px;
    margin-top: 2px;
  }
}
.js-form-type-checkbox {
  display: flex;
  align-items: flex-start;
  input {
    display: none;
    margin-top: 7px;
                          &+label {
                            display: -webkit-inline-box;
                     
                             @include breakpoint(mediumplus) {
                            width: 55%;
                                   margin-left: 0px;
                                  }
                            &:before {
                              content: "";
                              width: 18px;
                              height: 18px;
                              border: 2px solid $primary-color;
                              display: block;
                              margin-right: 10px;
                              margin-top: 5px;

                              @include breakpoint (mediumplus) {
                                border: 2px solid black;
                              }

                            }
                          }

                          &:checked {
                            &+label {
                              &:before {
                                background: url("icons/checked.svg") no-repeat center center;
                                background-color: black;

                                @include breakpoint(medium) {
                                  background-color: transparent;
                                }
                              }
                            }
                          }
  }
}
#edit-actions{
  input{
    margin-bottom: 0px;
              background-color: $primary-color;
              border: solid 2px $primary-color;
              color: white;
              transition: 0.3s ease;
              display: block;
              width: 155px;
              height: 40px;
              font-size: rem-calc(15px);
              text-transform: uppercase;
              font-weight: $font-weight-extrabold;
              padding-top: 11px;
  }
  input:hover{
    background-color: white;
    color: $primary-color;
  }
}

.popup-content{
  background-color: $primary-color!important;
p{
  font-weight: 200!important;
  a{
    color: black!important;
    font-weight: bold!important;
  }
}
button{
  border: solid 2px white!important;
  color: white;
}
}