.block.contact-data.full {

}
.contact-page{
  header{
    display: none;
  }
}
.paragraph--type--branch {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  p {
    margin-bottom: 0;
  }
}

.geolocation-common-map {
  height: 320px;
  @include breakpoint(mediumplus){
    height: 100%;
  }
}
.field-paragraph--field-contact-data{
  position: relative;
}
.field-paragraph--field-contact-data::after{
  content: "";
  display: block;
  background-image: url(../../base/images/tarmac/grunge_border.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 25px;
  bottom: -10px;
  z-index: 10;
  transform: rotate(180deg);
}
.g-recaptcha{
  margin-bottom: 20px;
}
