#sliding-popup {
  top: 0; left: 0; right: 0;
  background: rgba($black, .69);

  display: flex;
  justify-content: center;
  align-items: center;

  .eu-cookie-compliance-content {
    background-color: $white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 750px;

    @include breakpoint(large){
      padding: 50px;
    }
  }

  .find-more-button {
    display: none;
  }

  .eu-cookie-compliance-message {
    font-weight: $global-weight-bold;
    text-align: center;
    margin-bottom: 30px;
    max-width: none;
    width: 100%;
    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  .eu-cookie-compliance-buttons {
    max-width: none;
  }
}