.home.full {
  h1 {
    font-size: rem-calc(24);
    margin-bottom: 0;
    text-transform: uppercase;
    color: black;
    font-weight: $font-weight-extrabold;
       margin-bottom: 25px;
      @include breakpoint(xxlarge) {
    margin-bottom: 50px;
      }
  }
  h2 {
    font-size: rem-calc(30);
    margin-bottom: 0;
    font-family: $font-rough;
    color: $primary-color;
    text-transform: uppercase;
    @include breakpoint(large){
          font-size: rem-calc(36);
    }
       @include breakpoint(xlarge) {
         font-size: rem-calc(50);
       }
            @include breakpoint(xxlarge) {
              font-size: rem-calc(61);
            }
  }
  p{
    color: black;
  }
  .background-wrapper{
    background-image: url(../../base/images/tarmac/tarmacx.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .paragraph--type--text-image{
    &>div{
      .field-paragraph--field-text{
        .field-items{
          .field-item{
            width: 75%;
            h3{
              padding-top: 65px;
            }
              p {
                color: white;
                font-size: rem-calc(15px);
              }
          }
        }
      }
    
    }
    figure{
      @include breakpoint(large){
          margin-top: 125Px;
          margin-bottom: 125Px;

}
}
    }
  }
  .background-wrapper::before{
    content: "";
    display: block;
    background-image: url(../../base/images/tarmac/grunge_border.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        position: absolute;
        height: 77px;
        top: -10px;
        z-index: 10;
  }
   .background-wrapper::after{
        content: "";
        display: block;
        background-image: url(../../base/images/tarmac/grunge_border.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        position: absolute;
        height: 77px;
        bottom: -10px;
        z-index: 10;
        transform: rotate(180deg);
   }
}
.path-frontpage{
  .paragraph--type--text-blocks{
  .field-paragraph--field-text-blocks{
  .paragraph--type--text-block{
    text-align: center;

  }
}
}
  .swiper-button-next{
    display: none;
  }
  .swiper-button-prev{
    display: none;
  }
}