.page.full {
  header {
    figure {
      img {
        margin: 0 auto 30px auto;
        display: block;

        @include breakpoint(medium) {
          margin: 0 auto 50px auto;
        }

        @include breakpoint(large) {
          margin: 0 auto 80px auto;
        }
      }

      figcaption {
        display: flex;
        flex-direction: column-reverse;
        text-align: right;
        position: relative;
        background-image: url("../../base/images/tarmac/tarmacx.png");
        background-repeat: no-repeat;
        background-size: cover;
        @include grid-row();
        @include grid-col-gutter();
        margin-bottom: 30px;
        padding-bottom: 60px;
        padding-top: 30px;

        @include breakpoint(medium) {
          margin-bottom: 50px;
          padding-bottom: 60px;
          padding-top: 50px;
        }

        @include breakpoint(large) {
          margin-bottom: 80px;
          padding-bottom: 70px;
          padding-top: 60px;

        }

        h1 {
          color: $primary-color;
          font-weight: $font-weight-extrabold;

          @include breakpoint(mediumplus) {
            width: 75%;
            margin-left: auto;
          }

          @include breakpoint(large) {
            font-size: rem-calc(40px);
            width: 55%;
            margin-left: auto;
            margin-right: 30px;

          }
        }

        h2 {
          color: white;
          text-transform: uppercase;
          font-weight: $font-weight-extrabold;
          font-family: $font-proxima;
          font-size: rem-calc(17px);

          @include breakpoint(large) {
            margin-right: 30px;
          }
        }
      }

      figcaption::after {
        content: "";
        display: block;
        background-image: url(../../base/images/tarmac/grunge_border.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        position: absolute;
        height: 77px;
        bottom: -10px;
        z-index: 10;
        margin-left: -0.9375rem;
        transform: rotate(180deg);
      }
    }
  }

}

.paragraph--type--gallery {
      margin-left: 15Px;
      margin-right: 15Px;
  .field-paragraph--field-image {
    margin: 0 auto;
    max-width: $max-container;

    .grid {
      width: 100% !important;
      margin: 0 auto;

      .grid-sizer,
      .grid-item {
        margin-bottom: 10px;
        width: 99%;

        @include breakpoint(medium) {
          width: 49%;
        }

        @include breakpoint(mediumplus) {
          width: 32.4%;
        }

      }
    }
  }
}
