.field-name-field-paragraphs {
  &>.field-items {
    &>.field-item {
      margin-bottom: 30px;

      @include breakpoint(medium) {
        margin-bottom: 50px;
      }

      @include breakpoint(large) {
        margin-bottom: 80px;
      }

      @include breakpoint(xxlarge) {
        margin-bottom: 100px;
      }
    }
  }
}

.field-name-field-text-blocks {
  &>.field-items {
    @include breakpoint(medium) {
      @include flex-grid-row();
      flex-wrap: nowrap;
      justify-content: center;
    }

    &>.field-item {
      @include grid-col-gutter();
      max-width: 768px;
    }
  }
}

.paragraph--type--text-image {
  @include breakpoint(medium) {
    @include flex-grid-row();
    align-items: center;
  }

  &>div,
  &>figure {
    @include breakpoint(medium) {
      @include flex-grid-column(1 of 2);
    }
  }

  &>div {
    .field-paragraph--field-text {
      .field-items {
        .field-item {
          &>p {
            line-height: 1.3;

          }

          @include breakpoint(xxlarge) {
            width: 65%;
           
            padding-top: 50px;
          }

          blockquote {
            border-left: 0px;
            color: black;
            padding-left: 0px;

            @include breakpoint(large) {
              margin-top: 70px;
            }

            p {
              color: black;
              font-size: rem-calc(24px);
              line-height: 1.1;

              @include breakpoint(mediumplus) {
                font-size: rem-calc(42px);

              }

              @include breakpoint(xxlarge) {

                width: 125%;
              }
            }
          }
        }
      }
    }

    @include grid-col-gutter();

    h3 {
      color: $primary-color;
      font-weight: $font-weight-extrabold;
      font-size: rem-calc(40px);

    }

    h4 {
      text-align: center;
      font-size: rem-calc(29px);
      text-transform: uppercase;
      margin-bottom: 30px;

      @include breakpoint(large) {
        margin-bottom: 85px;
      }


    }

    a.button {
      border-color: white;
      color: white;
      transition: 0.3s ease;

      @include breakpoint(medium) {
        margin-bottom: 75px;
      }

      @include breakpoint(large) {
        margin-top: 75px;
      }

      @include breakpoint(xxlarge) {
      
      }

    }

    a.button:hover {
      background-color: $primary-color;
      border-color: black;
      color: black;
    }

    @include breakpoint(large) {
      @include flex-grid-column(5 of 12);
    }
  }

  &>figure {
    @include grid-col-gutter();
    margin-bottom: 15px;
    padding-bottom: 85Px;
    @include breakpoint(medium) {
      margin-bottom: 30px;
          padding-top: 85Px;
    }

    @include breakpoint(large) {
      @include flex-grid-column(7 of 12);
      margin-bottom: 0;
      padding-bottom: 0px;
      padding-top: 0px;
    }
  }

  &.option-image-right {
    @include breakpoint(large) {
      &>figure {
        padding-left: 105px !important;
      }
    }
  }

  &.option-image-left {
    @include breakpoint(medium) {
      flex-direction: row-reverse;
    }

    @include breakpoint(large) {
      &>figure {
        padding-right: 105px !important;
      }
    }
  }
}

.paragraph--type--form {
  @include grid-row();
  @include grid-col-gutter();

  h2,
  .field-name-field-form {
    max-width: 800px;
  }
}

.paragraph--type--map-form {
  @include flex-grid-row();

  .contact-wrapper {
    @include flex-grid-column(1 of 1);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    @include breakpoint(mediumplus) {
      @include flex-grid-column(1 of 2);
      margin-bottom: 0;
    }

    .field-name-field-map {

      display: flex;
      flex: 1 1 100%;

      @include breakpoint(mediumplus) {
        height: 700pX;
      }

      .views-element-container {
        width: 100%;
      }
    }

    .field-name-field-branches {
      background-color: $primary-color;
      color: $white;
      padding: 15px;
      font-weight: $global-weight-bold;

      @include breakpoint(medium) {
        padding: 30px;
      }

      @include breakpoint(large) {
        padding: 30px 60px;
      }

      .paragraph--type--branch {
        justify-content: center;

        @include breakpoint(mediumplus) {
          flex-wrap: wrap;
        }

        @include breakpoint(large) {
          flex-wrap: nowrap;
          flex-direction: row;
        }

        .base-contact-fields,
        .field-name-field-extra-contact-fields {
          text-align: center;

          @include breakpoint(large) {
            flex: 1 0 50%;
          }
        }

        .base-contact-fields {
          @include breakpoint(large) {
            padding-right: 15px;
            text-align: left;
          }
        }

        .field-name-field-extra-contact-fields {
          @include breakpoint(large) {
            padding-left: 15px;
            text-align: left;
          }
        }
      }

      a {
        color: $white;
        transition: color .25s ease-out;

        &:hover,
        &:focus {
          color: darken($white, 20%);
        }
      }
    }
  }

  .form-field-wrapper {
    h2 {
      color: $primary-color;
      font-weight: $global-weight-bold;
      margin-bottom: 50px;

      @include breakpoint(mediumplus) {
        width: 53%;
        margin-left: 0px;
      }

    }

    @include flex-grid-column(1 of 1);

    @include breakpoint(mediumplus) {
      @include flex-grid-column(1 of 2);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    @include breakpoint(large) {
      @include flex-grid-column(1 of 2, 105px);
    }
  }
}

.paragraph--type--image {
  width: 100%;
  @include flex-grid-row();
  justify-content: center;
  max-width: $max-container;

  .field-name-field-image {
    width: 100%;
    @include grid-col-gutter();

    .field-items {
      width: 100%;

      .field-item {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }
  }
}

.paragraph--type--call-to-action {
  .field-paragraph--field-title {
    .field-items {
      .field-item {
        color: $primary-color;
        font-weight: $font-weight-extrabold;
        text-align: center;
        margin: 0px 10px;
        font-size: rem-calc(30px);

        @include breakpoint(mediumplus) {
          font-size: rem-calc(40px);
        }
      }
    }
  }

  .field-paragraph--field-label {
    .field-items {
      .field-item {
        font-size: rem-calc(25px);
        text-align: center;

        @include breakpoint(mediumplus) {
          font-size: rem-calc(29px);
        }
      }
    }
  }

  .field-paragraph--field-link {
    .field-items {
      .field-item {
        display: flex;
        flex-direction: row;
        justify-content: center;

        a {
          background-color: $primary-color;
          border: solid 2px $primary-color;
          color: white;
          transition: 0.3s ease;

          text-align: center;
          margin: 30px 0 auto;
          padding: 8px 15px;
          font-size: rem-calc(15px);
          text-transform: uppercase;
          font-weight: $font-weight-extrabold;


        }

        a:hover {

          background-color: white;
          color: $primary-color;

        }
      }
    }
  }
}
