figure.slides-wrapper {
  max-width: $max-container;
  margin: 0 auto;
  @include breakpoint(large){
    position: relative;
  }
  figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 15px 0 15px;
    background-color: white;
    text-align: center;
    @include breakpoint(large){
      padding: 15px;
      position: absolute;
      top: 0; right: 0;
      z-index: 1;
      text-align: left;
      max-width: 485px;
         @include breakpoint(mediumplus) {
           max-width: 385px;
         }
                  @include breakpoint(xxlarge) {
                    max-width: 485px;
                  }
      height: 100%;
      color: $white;
    }
    @include breakpoint(large){
      padding: 40px;
    }

    .body {
      .field-item {
        p {
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.swiper-pagination {
  position: static;
  padding: 15px 0;
  @include breakpoint(medium){
    padding: 30px 0;
  }

  &.swiper-pagination-bullets {

    .swiper-pagination-bullet {
      width: 13px; height: 13px;
      background-color: black;
      border: 2px solid white;
      opacity: 1;
      margin: auto 4px;
      &.swiper-pagination-bullet-active {
        border-color: $primary-color;
        background-color: transparent;
      }
    }
  }

}

.field-name-field-slides {
  position: relative;
  &:before {
    @include breakpoint(medium){
      content: '';
      position: absolute;
      z-index: 2;
      top: 0; left: 0;
      width: 100%; height: 100%;
      display: block;
    }
  }
}
.page.full{
.paragraph--type--slide{
  max-width: $max-container;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  @include breakpoint(large){
  margin: 135px auto;
  }
  .swiper-buttons{
    position: relative;
    .swiper-button-next{
     top: 40px;
      left: 40px;
          width: 16px;
          height: 24px;
          background-image: url(../../base/images/tarmac/next.svg);
              background-size: 16px 24px;
    }
    .swiper-button-prev{
           top: 40px;
                 width: 16px;
                 height: 24px;
                 background-image: url(../../base/images/tarmac/prev.svg);
                 background-size: 16px 24px;
    }
  }
}
}